/* styles.css */

/* Основні налаштування шрифтів */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

/* Налаштування заголовків */
h1, h2, h3 {
    color: #007bff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Власні стилі для секцій */
section {
    margin-bottom: 30px;
}

section h2 {
    font-size: 2rem;
    text-align: center;
    padding-bottom: 10px;
}

/* Стилізація картки для досвіду роботи */
#experience {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

/* Навігаційне меню */
.navbar {
    background-color: #007bff;
}
.navbar-nav .nav-link {
    color: white;
}

.navbar-nav .nav-link:hover {
    color: #ffcc00;
}

/* Змінюємо розмір зображення на 300x300 */
img {
    width: 300px;
    height: 300px;
    object-fit: cover; /* Зберігає пропорції зображення */
}